@import url("https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.1.0/css/calcite-web.min.css");

body {
    background: #F0F0F0;
    color: #40649E;
    font-family: 'Quicksand', sans-serif;
}

.is-rotated {
    transform: rotate(4deg); 
}

/* .is-blurred {
    filter: blur(2px);
} */

.cls-1{
    fill:#BBCAE3;
    stroke:#F0F0F0;
    stroke-miterlimit:10;
    cursor: pointer;
}
.cls-1.is-active,
.cls-1:hover{
    fill: url(#Gradient1);
}
.cls-2,.cls-3,.cls-7{font-size:14px;font-family:ArialMT, Arial;}
.cls-3,.cls-6{letter-spacing:-0.04em;}
.cls-4{letter-spacing:-0.06em;}
.cls-5{letter-spacing:-0.02em;}
.cls-7{letter-spacing:-0.07em;}

.cls-2, 
.cls-3, 
.cls-4, 
.cls-5,
.cls-6,
.cls-7 {
    pointer-events: none;
    fill: #40649E;
    font-family: 'Quicksand', sans-serif;
}

.header-wrap {
    position: absolute;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    pointer-events: none;
}

.map-wrap {
    position: relative;
}

.info-window-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    z-index: 10;
}

.info-window-wrap.is-right {
    left: unset;
    right: 0;
}

.info-window {
    height: 100%;
    /* width: auto; */
    width: 450px;
    background: #F7C894;
    color: #A55B0C;
    overflow-y: auto;
}

.info-window-content {
    margin: 0 1rem;
}

.is-middle-section {
    border-top: 1px solid rgba(165,91,12,.5);
    border-bottom: 1px solid rgba(165,91,12,.5);
    margin: 1rem 1rem;
    padding: 1rem 0;
}



@media screen and (max-width: 960px) {

    .info-window-wrap{
        position: relative;
        top: unset;
        left: unset;
        bottom: unset;
        padding: 0 1rem 1rem;
        /* width: 100%; */
    }

    .info-window {
        height: auto;
        width: 100%;
        /* background: #e4a793; */
    }
}


.cursor-pointer{
    cursor: pointer;
}